@* Top horizontal navigation bar *@
<nav class="navbar navbar-expand-lg px-3 nav-modern">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">BudgetMeal.AI</a>
        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="@NavMenuCssClass navbar-collapse">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        <span class="oi oi-home me-1"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="pantry">
                        <span class="oi oi-list me-1"></span> Pantry
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="budget">
                        <span class="oi oi-dollar me-1"></span> Budget
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="recipes">
                        <span class="oi oi-book me-1"></span> Recipes
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : "show";
    private void ToggleNavMenu() => collapseNavMenu = !collapseNavMenu;
}
